// ===== Header ===== //

header {
  background: url('../images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-color: rgba(100, 150, 200, 0.4);
  width: 100%;
  @include flexy($dir: column-reverse, $item: center);
  padding: 5%;

  @include respond-to(large) {
    @include flexy($dis: null, $dir: column, $just: space-between);
    height: 295px;
    padding: 0;
  }
}

nav {
  @extend %mobile-container-width;
  margin-top: 20px;
  max-width: 1024px;

  @include respond-to(large) {
    margin: 1.6rem auto 0;
  }

  & ul {
    margin: 0;
    padding: 0;
    @include flexy($dir: column, $item: center);

    @include respond-to(medium) {
      @include flexy($dis: null, $dir: row, $just: center);
    }

    @include respond-to(large) {
      @include flexy($dir: row, $just: flex-end);
    }
  }

  & li {
    list-style-type: none;
    background-color: rgba(100, 100, 120, 0.7);
    width: 200px;
    text-align: center;
    margin-bottom: 10px;

    @include respond-to(medium) {
      background: none;
      width: initial;
      margin: 0;
    }
  }

  & a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;

    @include respond-to(medium) {
      font-size: $h5;
    }

    @include respond-to(large) {
      padding: 0;

      &:not(first-of-type) {
        margin-left: 20px;
      }
    }
  }
}

.site-name {
  text-align: center;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);

  h4 {
    font-style: italic;
  }

  @include respond-to(large) {
    flex-basis: 65%;
  }
}

nav a,
.site-name {
  color: white;
}