// ===== Variables ===== //

// Font Size Declarations
// Based on the Minor Third Typescale from type-scale.com

$h1: 3.052em;
$h2: 2.441em;
$h3: 1.953em;
$h4: 1.563em;
$h5: 1.25em;

// Placeholder

%mobile-container-width {
    width: 90%;
}